In [6]:
import pandas as pd 
import numpy as np

In [7]:
df_target = pd.read_csv("../CEA_Round1_Targets.csv", header=None, nrows=100)
df_target.columns=["Table_id", "Column_id", "Row_id"]

In [8]:
df_target["DBpedia_entity"] = ""
df_target["Cell"] = ""

In [9]:
df_target.head()

                         Table_id  Column_id  Row_id DBpedia_entity Cell
0   50245608_0_871275842592178099          0     154
1  39107734_2_2329160387535788734          1      32
2  22864497_0_8632623712684511496          0     227
3  66009064_0_9148652238372261251          0      15
4  21362676_0_6854186738074119688          1      75

In [10]:
def remove_special_signs(word):
    result = ""
    for w in word:
        if w.isalpha() or w=="'" or w.isspace():
            result += w 
    return result

In [11]:
def replace_space(word):
    try:
        return word.replace(" ", "_")
    except:
        print(word)
        return word

In [12]:
def find_entity(df, column_id, row_id):
    try:
        cell = df.iloc[row_id, column_id]
        cell = remove_special_signs(cell)
        cell = replace_space(cell)
        return f"http://dbpedia.org/resource/{cell}", cell
    except:
        return np.nan, np.nan

In [13]:
df_target = df_target.sort_values("Table_id").reset_index(drop=True)
first_table = df_target["Table_id"].unique()[0]

In [14]:
def make_for_row(row):
    global first_table
    table_id = row["Table_id"]
    if first_table == table_id:
         df = pd.read_csv(f"../CEA_Round1/{table_id}.csv")
    else:
        df = pd.read_csv(f"../CEA_Round1/{table_id}.csv")
        first_table = table_id
    column_id = row["Column_id"]
    row_id = row["Row_id"]
    path, cell = find_entity(df, column_id, row_id)
    row["DBpedia_entity"]= path
    row["Cell"]=cell
    return row

In [15]:
df_target.head()

                         Table_id  Column_id  Row_id DBpedia_entity Cell
0  13719111_1_5719401842463579519          0     132
1  13719111_1_5719401842463579519          0     112
2  13719111_1_5719401842463579519          0     443
3  13719111_1_5719401842463579519          0     308
4  13719111_1_5719401842463579519          0      48

In [16]:
df_target = df_target.apply(make_for_row, axis=1)

In [17]:
df_target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
Table_id          100 non-null object
Column_id         100 non-null int64
Row_id            100 non-null int64
DBpedia_entity    97 non-null object
Cell              97 non-null object
dtypes: int64(2), object(3)
memory usage: 4.0+ KB

In [18]:
df_target.iloc[:, 4]

0                         Grey_parrot
1                     Greyheaded_gull
2                  Mackinnon's_fiscal
3                 Redcapped_robinchat
4             Blackchested_snakeeagle
5              Spotted_mourningthrush
6                     Tambourine_dove
7                   Winding_cisticola
8          Born_on_the_Fourth_of_July
9                          Breathless
10                     Kerr_Reservoir
11                  Chimney_Reservoir
12                Tom_Steed_Reservoir
13                        Canton_Lake
14                 The_King_of_Comedy
15         Need_for_Speed_Hot_Pursuit
16                          Time_Leap
17          Juiced__Hot_Import_Nights
18                             Brazil
19          The_Man_Who_Would_be_King
20                             Somoni
21              East_Caribbean_Dollar
22                       Lorenzo_Ruiz
23        Perpetua_and_her_companions
24                         GoldenEye_
25                Super_Mario_Galaxy_
26                Halo_Combat_Evolved
27                    Richard_Strauss
28                        Taxi_Driver
29                  Wild_Strawberries
                   ...
70                      Faroe_Islands
71                    Rosemary's_Baby
72                   Super_Smash_Bros
73                Fanny_and_Alexander
74                        white_dwarf
75                    Lacal'eauClaire
76      Austroeupatorium_inulaefolium
77                   Maesopsis_eminii
78                     Acacia_mangium
79              Thunbergia_laurifolia
80                  Lobelia_zeylanica
81                          WOODCHUCK
82                   BALTIMORE_ORIOLE
83       NORTHERN_ROUGHWINGED_SWALLOW
84                       Mario_Party_
85               Grand_Theft_Auto_III
86                     Pokmon_Pinball
87    Der_Herr_der_Ringe_Die_Gefhrten
88                   DTM_Race_Driver_
89                       Battlefield_
90                  Super_Mario_World
91                  Final_Fantasy_VII
92       Superman_The_Animated_Series
93           Museo_Nacional_del_Prado
94             Brooklyn_Museum_of_Art
95                        Mauritshuis
96                        Grange_Fell
97                    Great_Mell_Fell
98                               Barf
99                           Dow_Crag
Name: Cell, Length: 100, dtype: object

In [19]:
from langdetect import detect

In [20]:
lang = detect("Ein, zwei, drei, vier")

In [21]:
lang

'de'